.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ai-response-main-container {
  width: 70%;
  max-width: 500px;
  height: auto;
  background-color: #804bf2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-inline: 10px;
  padding-bottom: 0;
}

.response-header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  position: relative;
}
.close-respone-modal {
  position: absolute;
  top: 50px;
  left: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
}
.second-header {
  display: inline-flex;
  padding: 9px 10px 8px 13px;
  width: 60%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 20px;
  border: 1px solid #804bf2;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: -25px;
  z-index: 10;
}
.second-header-text {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 350% */
}
.empty-space {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: sticky;
  top: 0;
}
.response-window {
  width: 100%;
  height: 80vh;
  background: #ffffffdc;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-inline: 0;
}

.response-text {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  padding-top: 10px;
  padding-inline: 10px;
}
