.dashboard {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: white;
  align-items: flex-start;
  justify-content: flex-end;

  .dashboard-leftDropdown {
    display: none;
  }

  @media screen and (max-width: 850px) {
    .dashboard-leftDropdown {
      display: flex;
    }
  }
}

.legacyBot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 60px;
  color: #804bf2;
  border: 1px solid #804bf2;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  animation: pulse 1.5s infinite;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.dashboard-left {
  width: 20%;
  position: fixed;
  height: 100vh;
  background-color: white;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;

  .dashboard-leftNavbarHolder {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-leftImg {
    height: 100px;
    width: 197px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;

    img {
      height: 70%;
      width: 100%;
      object-fit: cover;
    }
  }

  .dashboard-navBar {
    width: 95%;
    height: 45px;
    padding-inline: 20px;
    display: flex;
    gap: 6px;
    background-color: white;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: #804bf233;
    }

    nav {
      height: 35px;
      width: 35px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .dashboard-subscription {
    width: 172.2px;
    height: 145.4px;
    border-radius: 15.3px;
    margin-top: 20px;
    background-color: #804bf233;
    position: relative;
    padding: 28px;
    padding-top: 27px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;

    .dashboard-markIcon {
      position: absolute;
      left: 37%;
      top: -25px;
      height: 50px;
      width: 50px;
      border: 3px solid #804bf233;
      background-color: white;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #804bf233;
      font-size: 30px;
    }

    h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 11.5px;
      text-align: center;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: 11.5px;
      line-height: 15px;
    }

    button {
      width: 111px;
      height: 30.7px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 11.5px;
      outline: none;
      border: none;
      background-color: #804bf299;
      color: white;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1024px) {
    position: sticky;
    top: 0;
    .dashboard-navBar {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 850px) {
    display: none;
  }
}

.dashboard-right {
  height: max-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;

  @media screen and (max-width: 850px) {
    width: 100%;
    padding-top: 105px;
  }

  .dashboard-header {
    width: 100%;
    height: 101px;
    margin-top: 4px;
    padding-inline: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;

    h3 {
      font-family: "sora", sans-serif;
      font-weight: 600;
      font-size: 36px;
    }

    nav {
      height: 60px;
      width: 60px;
      background-color: #804bf2;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
      }
    }

    .header-menuIcon {
      display: none;
    }

    @media screen and (max-width: 850px) {
      position: fixed;
      top: 0;
      margin-top: 0px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      h3 {
        font-size: 20px;
      }
      nav {
        display: none;
      }
      .header-menuIcon {
        display: flex;
        height: 50px;
        width: 50px;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .dashboard-rightHolder {
    width: 100%;
    /* max-height: 85dvh; */
    /* overflow-y: scroll; */
    background-color: #804bf233;
  }
}

.dashboard-leftDropdown {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 10;
  width: 100%;
  left: 0;
  height: 100dvh;
  overflow: hidden;

  .dashboard-leftDropdownHolder {
    padding-top: 10px;
    width: 253px;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    animation-name: slideInLeft;
    animation-duration: 1s;
  }

  .dashboard-leftDropdown-navbarHolder {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-leftDropdown-leftImg {
    height: 96px;
    width: 138.5px;
    margin-bottom: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .dashboard-leftDropdown-navBar {
    width: 95%;
    height: 45px;
    padding-inline: 20px;
    display: flex;
    gap: 6px;
    background-color: #804bf233;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;

    nav {
      height: 35px;
      width: 35px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .dashboard-leftDropdown-subscription {
    width: 172.2px;
    height: 145.4px;
    border-radius: 15.3px;
    margin-top: 20px;
    background-color: #804bf233;
    position: relative;
    padding: 28px;
    padding-top: 27px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;

    .dashboard-leftDropdown-markIcon {
      position: absolute;
      left: 37%;
      top: -25px;
      height: 50px;
      width: 50px;
      border: 3px solid #804bf233;
      background-color: white;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #804bf233;
      font-size: 30px;
    }

    h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 11.5px;
      text-align: center;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: 11.5px;
      line-height: 15px;
    }

    button {
      width: 111px;
      height: 30.7px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 11.5px;
      outline: none;
      border: none;
      background-color: #804bf299;
      color: white;
      cursor: pointer;
    }
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
