.leavingNow {
  width: 100%;
  /* margin: 0 auto; */
  height: 100dvh;
  background: black;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.leavingNowHolder {
  /* width: 700px; */
  /* height: 570px; */
  width: 520px;
  padding: 30px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, white, #aa8deb);
  border-radius: 12px;

  main {
    height: 35vh;
    margin: 10px 30px;
    width: fit-content;
    /* width: 65%; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-family: "sora", sans-serif;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      line-height: 35px;
      margin-bottom: 25px;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 20px;
    }

    nav {
      height: 38.5px;
      width: 220px;
      display: flex;
      justify-content: space-between;

      button {
        height: 38px;
        width: 100px;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #804bf2;
        cursor: pointer;
        outline: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12.6px;
        transition: all 0.2s ease-in-out;

        &:first-child:hover {
          opacity: 0.8;
        }

        &:first-child:disabled {
          border: none;
        }

        &:nth-child(2):hover {
          background-color: #804bf2 !important;
          color: white !important;
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    padding-bottom: 30px;
    main {
      height: 30vh;
      h3 {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 10px;
      }

      p {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 10px;
      }
    }
  }
}
