.chatbot-container {
  position: fixed;
  width: 40%;
  max-height: 90dvh;
  overflow-y: auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 16px;
  animation: fadeIn 0.3s ease-in-out;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.chatbot-header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.chatbot-body {
  width: 100%;
  height: 70vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.messagecontainer {
  position: relative;
  width: 90;
  min-height: 15vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}
.textarea::-webkit-scrollbar {
  width: 8px;
}
.textarea::-webkit-scrollbar-thumb {
  background-color: #804bf2;
  border-radius: 10px;
}
.textarea::-webkit-scrollbar-thumb:hover {
  background-color: #5a2db2;
}

.legacysendicon {
  font-size: 30px;
  color: #804bf2;
  position: absolute;
  right: 5px;
  bottom: 15px;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
