.logout {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: rgba(211, 211, 211, 0.929);
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutHolder {
  height: 472px;
  width: 616px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  main {
    height: 137px;
    width: 65%;
    z-index: 1;

    h3 {
      font-family: "sora", sans-serif;
      font-weight: 700;
      font-size: 22px;
      text-align: center;
      margin-bottom: 7px;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      margin-bottom: 8px;
    }

    nav {
      height: 34px;
      display: flex;
      justify-content: space-around;

      .continue-btn {
        border-color: #804bf2;
        background-color: white;
        color: #804bf2;
        width: 172.5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 13px;
        outline: none;
        cursor: pointer;
      }

      .logout-btn {
        background-color: #804bf2;
        border: none;
        outline: none;
        cursor: pointer;
        width: 136px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 13px;
      }
    }

    @media screen and (max-width: 480px) {
      p {
        font-size: 13px;
        margin-bottom: 20px;
      }

      nav {
        gap: 10px;
        .continue-btn {
          width: 130px;
          font-size: 10.5px;
        }
        .logout-btn {
          width: 110px;
        }
      }
    }
  }
}
