.mockExam {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;

  h2 {
    font-weight: 800;
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 45px;
  }

  h5 {
    font-size: 21.6px;
    line-height: 42px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

  @media screen and (max-width: 550px) {
    background-color: white;

    h2 {
      font-size: 16px;
      line-height: 35px;
    }

    h5 {
      font-size: 18px;
    }
  }
}

.mockExam-holder {
  margin-top: 30px;
  min-height: 60vh;
  width: 90%;
  max-width: 1600px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .mockExam-holderSubject {
    min-height: 70.5px;
    width: 100%;
    border-radius: 12px;
    border: 1.8px solid #804bf2;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;

    article {
      cursor: pointer;
      height: 70.5px;
      width: 100%;
      display: flex;
      align-items: center;
      padding-inline: 20px;
      justify-content: space-between;
    }

    section {
      padding-inline: 10px;
      border-top: 1.8px solid #804bf2;
      border-radius: 12px;
      height: 70.3px;
      width: 100%;
      display: flex;
      align-items: center;

      button {
        height: 37px;
        width: 133px;
        background-color: #804bf2;
        border-radius: 133px;
        font-size: 13.3px;
        color: white;
        line-height: 31px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        border: none;
        outline: none;
      }
    }

    p {
      font-size: 24px;
      line-height: 42px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }

    h6 {
      font-size: 36px;
      color: #804bf2;
      line-height: 42px;
      font-weight: 800;
      font-family: "Montserrat", sans-serif;
    }
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    .mockExam-holderSubject {
      width: 100%;
    }
  }
}
