.overview {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: hidden;
  border-top: 2px solid gainsboro;

  h1 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
  }

  @media screen and (max-width: 850px) {
    background-color: white;
    align-items: center;
  }

  @media screen and (max-width: 550px) {
    padding: 12px;
  }
}

.overview-firstLayer {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .overview-firstLayerMiddle {
    display: none;
  }

  .overview-firstLayerLeft {
    height: fit-content;
    width: 720.5px;
    display: flex;
    flex-direction: column;

    .overview-firstLayerLeftUP {
      width: 100%;
      height: 321.4px;
      display: flex;
      align-items: flex-end;
      position: relative;
      margin-bottom: 50px;

      img {
        width: 233.3px;
        height: 321.4px;
        position: absolute;
        left: 40px;
        bottom: 0;
      }

      main {
        width: 100%;
        height: 225.7px;
        border-radius: 23.38px;
        background-color: #804bf2cc;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        align-items: center;

        nav {
          width: 415.2px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: white;

          h5 {
            font-size: 32.7px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
          }

          p {
            font-size: 18.7px;
            line-height: 25.7px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
          }
        }

        article {
          width: 25.7px;
          height: 25.7px;
          border-radius: 100%;
          background-color: white;
          position: absolute;
          top: 16.89px;
          left: 21.85px;
        }

        section {
          width: 25.7px;
          height: 25.7px;
          border-radius: 100%;
          background-color: #f2ae30;
          position: absolute;
          bottom: 16.89px;
          right: 21.85px;
        }
      }

      @media screen and (max-width: 1024px) {
        height: 150px;
        img {
          height: 150px;
          width: 109px;
          left: 50px;
        }

        main {
          height: 105px;

          article,
          section {
            height: 20px;
            width: 20px;
          }

          nav {
            width: 70%;

            p {
              font-size: 13px;
              line-height: 18px;
            }

            h5 {
              font-size: 20px;
            }
          }
        }
      }

      @media screen and (max-width: 550px) {
        img {
          left: 15px;
        }

        main {
          min-height: 100px;
          nav {
            min-height: 80px;
            width: 60%;
            gap: 5px;
            h5 {
              font-size: 17px;
              line-height: 20px;
            }

            p {
              font-size: 8.2px;
              z-index: 3;
              line-height: 10px;
            }
          }
        }
      }

      @media screen and (max-width: 340px) {
        img {
          display: none;
        }
        main {
          nav {
            width: 75%;
            margin: 0 auto;
          }
        }
      }
    }

    .overview-firstLayerLeftDown {
      height: fit-content;
      display: flex;
      flex-direction: column;
      width: 100%;

      h4 {
        font-size: 24px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 30px;
      }

      main {
        min-height: 177px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        gap: 10px;

        nav {
          width: 120px;
          height: 177px;
          border-radius: 11.5px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .overview-trashIcon {
            position: absolute;
            top: 10px;
            right: 10px;
            color: rgb(148, 2, 2);
            font-size: 30px;
            cursor: pointer;
            z-index: 5;
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }

          aside {
            min-width: 66.5px;
            min-height: 101.9px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 18.4px;

            div {
              height: 75px;
              width: 75px;
              border-radius: 100%;
              border: 1px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
            }

            p {
              font-size: 15px;
              font-weight: 500;
              font-family: "Montserrat", sans-serif;
              color: black;
              text-align: center;
            }

            h6 {
              font-size: 14px;
              text-align: center;
              font-weight: 500;
              font-family: "Montserrat", sans-serif;
              color: black;
            }

            section {
              height: 66.5px;
              width: 66.5px;
              border-radius: 100%;
              display: flex;
              background-color: #804bf2;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      @media screen and (max-width: 550px) {
        h4 {
          text-align: center;
          margin-top: 15px;
        }
        main {
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      width: 550px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 850px) {
    .overview-firstLayerMiddle {
      width: 215px;
      height: 488px;
      border-radius: 23.4px;
      background-color: #804bf21a;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin: auto;
      margin-bottom: 20px;
      padding: 15px;
      justify-content: space-around;

      h5 {
        font-size: 20px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
      }

      main {
        width: 100%;
        height: 107.6px;
        border-radius: 11.3px;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: space-around;

        div {
          background-color: #f2ae304d;
          width: 54.4px;
          height: 54.4px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 80%;
            width: 80%;
            object-fit: cover;
            border-radius: 100%;
          }
        }

        nav {
          width: 79.2px;
          height: 80px;

          h6 {
            font-size: 36.3px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
          }

          p {
            font-size: 13px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
  }
}

.overview-firstLayerRight {
  width: 215px;
  height: 488px;
  border-radius: 23.4px;
  background-color: #804bf21a;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  padding: 15px;
  justify-content: space-around;

  h5 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  main {
    width: 100%;
    height: 107.6px;
    border-radius: 11.3px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;

    div {
      background-color: #f2ae304d;
      width: 54.4px;
      height: 54.4px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 80%;
        width: 80%;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    nav {
      width: 79.2px;
      height: 80px;

      h6 {
        font-size: 36.3px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 180px;
    margin-top: 45px;
  }

  @media screen and (max-width: 850px) {
    display: none;
  }
}

.overview-secondLayer {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 50px;

  .overview-secondLayerLeft {
    width: 288.52px;
    height: 259px;
    background-color: white;
    border-radius: 6.7px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    header {
      height: 37px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: 500;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
      }

      aside {
        height: 100%;
        display: flex;
        flex-direction: column;

        h5 {
          font-family: "Montserrat", sans-serif;
          line-height: 103%;
          font-size: 24px;
          font-weight: 500;
        }

        h6 {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 12px;
          color: #000;
        }
      }
    }

    footer {
      max-height: 169px;
      max-width: 169px;
      position: relative;

      nav {
        position: absolute;
        height: 120px;
        width: 120px;
        border-radius: 100%;
        border: 3.35px solid #804bf233;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }

  .overview-secondLayerRight {
    width: 70%;
    min-height: 10vh;
    max-height: 259px;
    overflow-y: auto;
    border-radius: 7.58px;
    background-color: white;
    display: flex;
    padding: 15px;
    padding-top: 30px;

    .overview-secondLayerRightHolder {
      min-height: 10vh;
      width: 87.2%;
      display: flex;
      flex-direction: column;

      ul {
        height: 7vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 7px;

        li {
          font-size: 18.5px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
          width: 25%;
          display: flex;
          justify-content: center;
        }

        @media screen and (max-width: 1024px) {
          li {
            font-size: 16px;
          }
        }
      }

      ol {
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 5px;

        li {
          width: 25%;
          display: flex;
          justify-content: center;
          font-size: 17.17px;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
    align-items: center;

    .overview-secondLayerRight {
      width: 95%;
      background-color: #804bf233;
    }
  }

  @media screen and (max-width: 480px) {
    .overview-secondLayerRight {
      .overview-secondLayerRightHolder {
        width: 100%;
        ul,
        ol {
          li {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.overview-thirdLayer {
  width: 100%;
  min-height: 295px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid #f2ae30;
  background-color: white;

  .overview-thirdLayerHolder {
    width: 87%;
    min-height: 257px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h6 {
      font-size: 18px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }

    ol {
      min-height: 227px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      margin-left: 20px;
    }

    @media screen and (max-width: 850px) {
      ol {
        font-size: 12px;
      }
    }

    @media screen and (max-width: 480px) {
      justify-content: space-evenly;
      padding: 8px 8px 8px 0px;
      h6 {
        font-size: 13px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }
      ol {
        font-size: 11px;
        gap: 8px;
      }
    }
  }

  @media screen and (max-width: 550px) {
    justify-content: center;
    padding-left: 0px;
  }
}

.overview-noPerformance {
  font-weight: 700;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
