.pastquestionmain {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6dbfc;
}

.pastcontainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: flex-start;
  gap: 20px;

  & span {
    color: #1e1e1e;
    text-align: left;
    font-family: Sora;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 103%; /* 24.72px */
    letter-spacing: -0.456px;
    text-transform: uppercase;
  }
}

.pastquestionheader {
  color: #1e1e1e;
  text-align: left;

  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 103%; /* 49.44px */
  letter-spacing: -0.912px;
}

.selectpastquestion {
  width: 90%;
  height: max-content;
  padding: 30px 10px 20px 10px;
  border-radius: 10px;
  border: 2px solid #f2ae30;
  background: rgba(128, 75, 242, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.pastleftdiv {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  & span {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 103%;
    letter-spacing: -0.266px;
  }

  & div {
    width: 80%;
    height: 40px;
    display: flex;
    border-radius: 5px;
    background: #fff;
    padding: 13px 199px 13px 6px;
    align-items: center;
    flex-shrink: 0;
    padding-left: 10px;
    color: #1e1e1e;

    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 103%;
    letter-spacing: -0.266px;
  }
}

.pastrightdiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  padding-left: 20px;
  & span {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 103%;
    letter-spacing: -0.266px;
  }

  & div {
    width: 80%;
    height: 40px;
    display: flex;
    border-radius: 5px;
    background: #fff;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding-left: 10px;

    color: #1e1e1e;

    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 103%;
    letter-spacing: -0.266px;
  }
}

.viewpastquestiondiv {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: flex-start;
}
.viewpastbutton {
  display: flex;
  width: 224.595px;
  height: 50.534px;
  padding: 11.23px;
  justify-content: center;
  align-items: center;
  gap: 11.23px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: #804bf2;
  color: #fff;
  font-family: Montserrat;
  font-size: 15.722px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.438px */
  letter-spacing: -0.299px;
  cursor: pointer;
}

.viewpastbutton:hover {
  background-color: #8b56ff !important;
  transition: 350ms ease;
}
.pastinstruction1 {
  width: 70%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  & h1 {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }

  & span {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
  }
}

.pastinstruction2 {
  width: 70%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  & h1 {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }

  & span {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
  }

  & ul {
    padding-left: 30px;
  }

  & li {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
  }
}

.dropdownmenu {
  position: absolute;
  top: 95%;
  left: 6.5%;
  width: 74.8%;
  max-height: 40vh;
  overflow-y: scroll;
  background-color: #fff;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdownitem {
  list-style-type: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: left;
}

.dropdownitem::before {
  content: "\25B6";
  position: absolute;
  left: 5%;
  color: #804bf266;
  font-size: 14px;
  margin-right: 10px;
}

.pastdropdown {
  font-size: 15px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pastquestionmain {
    background: white;
  }
  .pastcontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: flex-start;
    gap: 20px;

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 103%;
      letter-spacing: -0.456px;
      text-transform: uppercase;
    }
  }

  .pastquestionheader {
    color: #1e1e1e;
    text-align: center;
    font-family: Sora;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 45.909px;
  }

  .selectpastquestion {
    width: 100%;
    height: max-content;
    padding: 30px 10px 20px 10px;
    border-radius: 10px;
    border: 2px solid #f2ae30;
    background: rgba(128, 75, 242, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  .pastleftdiv {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 103%;
      letter-spacing: -0.266px;
    }

    & div {
      width: 100%;
      height: 40px;

      display: flex;
      border-radius: 5px;
      background: #fff;
      padding: 13px 199px 13px 6px;
      align-items: center;
      flex-shrink: 0;
      padding-left: 10px;
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 103%;
      letter-spacing: -0.266px;
    }
  }

  .pastrightdiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1px;
    position: relative;
    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 103%;
      letter-spacing: -0.266px;
    }

    & div {
      width: 95%;
      height: 40px;
      display: flex;
      border-radius: 5px;
      background: #fff;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;

      color: #1e1e1e;

      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 103%;
      letter-spacing: -0.266px;
    }
    .dropdownmenu {
      position: absolute;
      top: 95%;
      left: 6.5%;
      width: 74.8%;
      max-height: 20vh;
      overflow-y: scroll;
      background-color: #fff;
      border-end-start-radius: 5px;
      border-end-end-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  }

  .pastinstruction1 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: 34px;
    }

    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
    }
  }
  .pastinstruction2 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

    & h1 {
      text-align: center;
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px;
    }

    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
    }

    & ul {
      padding: 0%;
    }

    & li {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .selectpastquestion {
    width: 90%;
    height: max-content;
    padding: 30px 10px 20px 10px;
    border-radius: 10px;
    border: 2px solid #f2ae30;
    background: rgba(128, 75, 242, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .pastleftdiv {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    gap: 10px;
    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 103%;
      letter-spacing: -0.266px;
    }

    & div {
      width: 100%;
      height: 40px;
      display: flex;
      border-radius: 5px;
      align-items: center;
      flex-shrink: 0;
      padding-left: 10px;
      padding-right: 10px;
      color: #1e1e1e;

      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 103%;
      letter-spacing: -0.266px;
    }
  }
  .pastrightdiv {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding-left: 20px;
    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 103%;
      letter-spacing: -0.266px;
    }

    & div {
      width: 90%;
      height: 40px;
      display: flex;
      border-radius: 5px;
      background: #fff;
      padding-right: 10px;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      padding-left: 10px;

      color: #1e1e1e;

      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 103%;
      letter-spacing: -0.266px;
    }
  }
  .dropdownmenu {
    position: absolute;
    top: 95%;
    left: 10.4%;
    width: 80.6%;
    max-height: 40vh;
    overflow-y: scroll;
    background-color: #fff;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .dropdownitem {
    list-style-type: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
  }

  .dropdownitem::before {
    content: "\25B6";
    position: absolute;
    left: 5%;
    color: #804bf266;
    font-size: 14px;
    margin-right: 10px;
  }
}
