.paymentSuccessful {
  width: 100%;
  height: 100dvh;
  background: rgba(231, 229, 229, 0.553);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.paymentSuccessful-holder {
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, white, #aa8deb);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  max-width: 90%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  article {
    position: absolute;
    top: 20px;
    height: 70%;
    width: 55%;
    background-image: url("../../assets/public/verifyPaymentImg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  main {
    height: 50%;
    width: 100%;
    background-color: #ffffff2d;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    section {
      margin-top: 20px;
      width: 90%;
      height: 65%;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-family: "sora", sans-serif;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
      }

      button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background-color: #804bf2;
        color: white;
        padding: 12px 12px;
        border-radius: 12px;
        cursor: pointer;
        transition: all 350ms ease-in-out;

        &:hover {
          border: 1px solid #804bf2;
          background-color: white;
          color: #804bf2;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    article {
      width: 100%;
      top: 0;
    }

    main {
      section {
        width: 90%;

        h3 {
          font-size: 25px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}
