.profile {
  height: fit-content;
  min-height: 87vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 550px) {
    background-color: white;
  }
}

.profile-firstLayer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  h3 {
    font-size: 30px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }

  nav {
    width: 87px;
    height: 100%;
    border: 1px solid #804bf2;
    border-radius: 3.5px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    color: #804bf2;
    background-color: white;
  }

  @media screen and (max-width: 550px) {
    h3 {
      font-size: 25px;
    }
  }
}

.profile-secondLayer {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 4px solid #804bf2;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  label {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #804bf2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 7px;
    right: 7px;
    border: 4px solid white;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }
}

.profile-thirdLayer {
  height: max-content;
  width: 589px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;

  button {
    margin-top: 15px;
    width: fit-content;
    background-color: #804bf2;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      background-color: #804bf2cc;
      pointer-events: none;
    }
  }

  main {
    height: 16.7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7.5px;

    label {
      font-size: 14px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
    }

    input {
      width: 100%;
      height: 59px;
      border: 1px solid #804bf2;
      outline: none;
      padding: 15px;

      &:disabled {
        background-color: #c4b1ed3c;
      }
    }
  }

  @media screen and (max-width: 550px) {
    width: 90%;
  }
}
