.resultpagemain {
  width: 100%;
  height: 100vh;
  background-color: #804bf233;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & h2 {
    color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
  }

  & p {
    color: black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.555px;
  }

  & button {
    display: flex;
    width: 224.595px;
    height: 50.534px;
    padding: 11.23px;
    justify-content: center;
    align-items: center;
    gap: 11.23px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.123px solid #fff;
    background: #804bf2;
    color: #fff;
    font-family: Montserrat;
    font-size: 15.722px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.438px */
    letter-spacing: -0.299px;
    cursor: pointer;
    border: none;
  }
}
