.viewpastquestionmain {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(128, 75, 242, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.viewpastquestionheader {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  & span {
    color: #1e1e1e;
    text-align: center;
    font-family: Sora;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 103%; /* 24.72px */
    letter-spacing: -0.456px;
    text-transform: uppercase;
  }
}

.answerquestiondiv {
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  & h1 {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 218.75% */
  }

  .answeroption {
    padding-left: 30px;
    width: 100%;
    height: auto;

    & li {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px;
      max-width: 500px;
      white-space: normal;
      word-break: break-word;
      width: auto;
      border: none;
    }
  }
  .pastanswer {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
}
.pastquestionanswer {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

.viewpastquestionmainheader {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & h1 {
    color: #804bf2;
    text-align: center;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 103%; /* 49.44px */
    letter-spacing: -0.912px;
  }

  & em {
    color: #1e1e1e;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 103%;
    letter-spacing: -0.912px;
  }
}

.answeroption {
  list-style-type: none;
  padding: 0;
}

.answeroption li {
  margin: 2px 0;
  padding: 5px;
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
}

.answeroption li:hover {
  background-color: #f2f2f2;
}

.correct-option {
  background-color: hsl(134, 41%, 88%);
  color: #155724;
}
.correct-answer {
  background-color: #d4edda;
  color: #155724;
}
.wrong-option {
  background-color: #f8d7da;
  color: #721c24;
}

.feedback {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
.viewmore-btn {
  min-width: 116px;
  min-height: 21px;
  border-radius: 10px;
  background-color: #f2ae30;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 5px;
  font-weight: 600;
  color: #1e1e1e;
  outline: none;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: #ffcb77;
    pointer-events: none;
  }
}
.viewmore-btn:hover {
  background-color: #ffcb77;
}
.letterdoption {
  color: #1e1e1e;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.aswer-airesponse {
  display: flex;
  width: auto;
  gap: 10px;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60%;
  height: 100px;
}

.pagination-button1 {
  padding-left: 10px;
  padding-right: 10px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2ae30;
  color: #1e1e1e;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-family: Montserrat;
  border: none;
}

.pagination-button {
  padding-right: 10px;
  padding-left: 10px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2ae30;
  color: #1e1e1e;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-family: Montserrat;
  border: none;
}

.pagination-info {
  font-size: 16px;
  line-height: 30px;
  font-family: Montserrat;
  font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .viewpastquestionheader {
    width: 100%;
    height: 50px;

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 103%;
      letter-spacing: -0.456px;
      text-transform: uppercase;
    }
  }
  .viewpastquestionmainheader {
    width: 100%;
    height: 100px;

    & h1 {
      font-size: 35px;
    }

    & em {
      font-size: 35px;
    }
  }

  .feedback {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }

  .letterdoption {
    font-size: 14px;
  }

  .pagination-controls {
    gap: 10px;
    width: 100%;
    height: 100px;
  }

  .pagination-button1 {
    width: 120px;
    height: 40px;
  }

  .pagination-button {
    width: 120px;
    height: 40px;
  }

  .pagination-info {
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 500;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .viewpastquestionheader {
    width: 100%;

    & span {
      font-size: 24px;
    }
  }
  .viewpastquestionmainheader {
    width: 100%;
    height: 100px;

    & h1 {
      font-size: 48px;
    }

    & em {
      font-size: 48px;
    }
  }

  .feedback {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }

  .letterdoption {
    font-size: 14px;
  }
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 10vh;
  }

  .pagination-button1 {
    width: 150px;
    height: 40px;
    font-size: 20px;
  }

  .pagination-button {
    width: 150px;
    height: 40px;
    font-size: 20px;
  }

  .pagination-info {
    font-size: 20px;
    line-height: 30px;
  }

  .answerquestiondiv {
    width: 100%;

    & h1 {
      font-size: 22px;
    }

    .answeroption {
      padding-left: 30px;
      width: 100%;
      height: auto;

      & li {
        color: #1e1e1e;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
      }
    }
    .pastanswer {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1248px) {
  .viewpastquestionheader {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 103%;
      letter-spacing: -0.456px;
      text-transform: uppercase;
    }
  }
  .viewpastquestionmainheader {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & h1 {
      color: #804bf2;
      text-align: center;
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 103%;
      letter-spacing: -0.912px;
    }

    & em {
      color: #1e1e1e;
      font-family: Sora;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 103%;
      letter-spacing: -0.912px;
    }
  }

  .answeroption li {
    margin: 2px 0;
    padding: 5px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    gap: 10px;
  }

  .feedback {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }

  .letterdoption {
    font-size: 14px;
  }
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100px;
  }

  .pagination-button1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    height: 40px;
    font-size: 20px;
  }

  .pagination-button {
    padding-right: 10px;
    padding-left: 10px;
    width: 150px;
    height: 40px;
    font-size: 20px;
  }

  .pagination-info {
    font-size: 20px;
    line-height: 30px;
    font-family: Montserrat;
    font-weight: 500;
  }

  .answerquestiondiv {
    width: 100%;

    & h1 {
      font-size: 22px;
      line-height: 35px; /* 218.75% */
    }

    .answeroption {
      padding-left: 30px;
      width: 100%;
      height: auto;

      & li {
        font-size: 22px;
        line-height: 35px;
      }
    }
    .pastanswer {
      font-size: 22px;
      line-height: 35px;
    }
  }
}
