@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
.emailverifymain {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailverifycomponent {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mailimagediv {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailverifytextdiv {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .emailverifytext {
    color: rgba(30, 30, 30, 0.88);
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    width: 60%;
  }
}

.emailverifybtn {
  width: 70%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    display: flex;
    width: 239px;
    height: 49px;
    padding: 10px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--Lilly-White, #fff);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    background: #804bf2;
    border: none;
    cursor: pointer;
  }
}
