.loadingmain {
  /* background-color: #c2b0b0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.loadingcircle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #804bf233;
  bottom: 130px;
  left: -200px;

  .loadinginnercircle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    top: 80px;
    left: 80px;
  }
}

.loadingcircle1 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #804bf233;
  top: 30px;
  right: -190px;
  overflow: hidden;

  .loadinginnercircle1 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    bottom: 80px;
    right: 80px;
    overflow: hidden;
  }
}

.loadinggoldsmallcircle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);
  left: 80px;
  top: 150px;
}

.loadinggoldsmallcircle1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);

  bottom: 130px;
  right: 80px;
}
ResetPasswordcircle1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);

  bottom: 170px;
  right: 200px;
}

.Loadingcontainer {
  width: 35%;
  min-height: 70vh;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingtext {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  & h1 {
    color: rgba(30, 30, 30, 0.88);
    text-align: center;

    /* H2 */
    font-family: Sora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 155.556% */
  }
}

.loadingimg {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingtext2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  & p {
    color: #1e1e1e;
    text-align: center;

    /* H4 */
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 135% */
  }
}

.done {
  display: flex;
  width: 255px;
  height: 60px;
  padding: 10px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #804bf2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--Lilly-White, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 112.5% */
}

.loadingfooter {
  width: 100%;
  height: 10vh;
  background-color: #804bf2;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 175% */
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .loadingcircle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #804bf233;
    bottom: 130px;
    left: -220px;

    .loadinginnercircle {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #c2b0b0;
      top: 80px;
      left: 80px;
    }
  }

  .loadingcircle1 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #804bf233;
    top: 30px;
    right: -220px;
    overflow: hidden;

    .loadinginnercircle1 {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #c2b0b0;
      bottom: 80px;
      right: 80px;
      overflow: hidden;
    }
  }

  .Loadingcontainer {
    width: 80%;
    min-height: 50vh;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loadingtext {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    & h1 {
      color: rgba(30, 30, 30, 0.88);
      text-align: center;

      /* H2 */
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px; /* 155.556% */
    }
  }
}
