.ResetPasswordmain {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.ResetPasswordcircle {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #dbd2f0d2;
  bottom: 30px;
  left: -220px;

  .ResetPasswordinnercircle {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    top: 80px;
    left: 80px;
  }
}

.ResetPasswordcircle1 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #dbd2f0d2;
  top: 30px;
  right: -220px;
  overflow: hidden;

  .ResetPasswordinnercircle1 {
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: white;
    bottom: 70px;
    right: 70px;
    overflow: hidden;
  }
}

.ResetPasswordgoldsmallcircle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);
  left: 150px;
  top: 100px;
}

.ResetPasswordgoldsmallcircle1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);

  bottom: 70px;
  right: 110px;
}
ResetPasswordcircle1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);

  bottom: 170px;
  right: 200px;
}

.ResetPasswordcontainer {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  & .ResetPasswordlogocontainer {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .ResetPasswordplogo {
      width: 150px;
      height: 150px;
    }
  }
  & .ResetPasswordheader {
    width: 80%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    & h1 {
      color: var(--purple-primary-color, #804bf2);
      text-align: center;
      font-family: Sora;
      font-size: 45px;
      font-style: normal;
      font-weight: 800;
      line-height: 64px;
    }

    & p {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 43px;
    }
  }
}

.resetinputdiv {
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.resetinput {
  position: relative;
  width: 80%;
  height: 70px;
  display: flex;
  flex-direction: column;
  .reseteyeIcon {
    position: absolute;
    right: 20px;
    top: 33px;
    font-size: 20px;
    color: #000;
  }
  .reseteyeIcon1 {
    position: absolute;
    right: 20px;
    top: 33px;
    font-size: 20px;
    color: #000;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  & .resetlabel {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
}
.resetinputmain {
  width: 100%;
  height: 45px;
  border: 1px solid #000;
  background: #fff;
  padding-left: 10px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.error {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  position: relative;
}
.resetbtn {
  width: 80%;
  padding: 10px;
  background-color: #804bf2;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 20px;
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ResetPasswordcircle {
    position: fixed;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: #dbd2f0d2;
    bottom: 120px;
    right: -220px;

    .ResetPasswordinnercircle {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: white;
      top: 60px;
      left: 85px;
    }
  }
  .ResetPasswordcircle1 {
    position: fixed;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: #dbd2f0d2;
    top: 100px;
    right: -220px;
    overflow: hidden;

    .ResetPasswordinnercircle1 {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: white;
      top: 60px;
      right: 85px;
      overflow: hidden;
    }
  }

  .ResetPasswordgoldsmallcircle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(231, 179, 9);
    left: 50px;
    top: 100px;
  }

  .ResetPasswordgoldsmallcircle1 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(231, 179, 9);

    bottom: 70px;
    right: 50px;
  }

  .ResetPasswordcontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .ResetPasswordlogocontainer {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      .ResetPasswordplogo {
        width: 100px;
        height: 100px;
      }
    }
    .ResetPasswordheader {
      width: 90%;
      height: 100px;
      & h1 {
        font-size: 25px;
        line-height: 20px;
      }

      & p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .resetinputdiv {
    width: 95%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  .resetinputmain {
    width: 100%;
    height: 45px;
    border: 1px solid #000;
    background: #fff;
    padding-left: 10px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  .resetinput {
    width: 100%;
  }
  .resetbtn {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ResetPasswordcontainer {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .ResetPasswordlogocontainer {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      .ResetPasswordplogo {
        width: 150px;
        height: 150px;
      }
    }
  }
  .resetinput {
    width: 100%;
  }
  .resetbtn {
    width: 100%;
  }
}
