@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
.home {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.home-firstLayer {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  .home-firstLayerSmallCircle {
    height: 43px;
    width: 43px;
    position: absolute;
    top: 513px;
    left: 70px;
    border-radius: 100%;
    background-color: #f2ae30;
  }

  .home-firstLayerCircle {
    position: absolute;
    left: -215px;
    height: 270px;
    width: 270px;
    border-radius: 100%;
    background-color: #804bf21a;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;

    aside {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      background-color: white;
    }
  }

  .home-firstLayerHolder {
    width: 88.75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    main {
      width: 57.5%;
      min-height: 334px;
      display: flex;
      flex-direction: column;
      gap: 43px;

      section {
        width: 100%;
        height: 237px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h5 {
          font-size: 45px;
          line-height: 64px;
          font-weight: 800;
          font-family: "Montserrat", sans-serif;
        }

        p {
          font-weight: 400;
          font-family: "Sora", sans-serif;
          font-size: 20px;
          width: 71%;
          line-height: 31px;
        }
      }

      button {
        height: 54px;
        width: 151px;
        background-color: #804bf2;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        outline: none;
        border: none;
        font-size: 14px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
      }
    }

    nav {
      position: relative;
      width: 552.27px;
      height: 638.33px;
      display: flex;
      justify-content: flex-end;

      article {
        width: 81%;
        height: 511px;
        background-color: #804bf2;
        position: absolute;
        bottom: 0;
        right: 10px;
        z-index: 1;
      }

      img {
        width: 84%;
        height: 100%;
        z-index: 2;
      }

      aside {
        position: absolute;
        height: 177.84px;
        width: 177.84px;
        border-radius: 100%;
        left: -10px;
        top: 375px;
        z-index: 3;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          height: 140px;
          width: 140px;
          background-color: #f2ae30;
          border-radius: 100%;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      width: 97%;
      main {
        section {
          min-height: 200px;
          h5 {
            font-size: 38px;
          }

          p {
            font-size: 18.5px;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;

      main {
        width: 95%;
        align-items: center;
        gap: 10px;

        section {
          text-align: center;
          align-items: center;

          p {
            width: 90%;
          }
        }
      }

      nav {
        width: 85%;
      }
    }

    @media screen and (max-width: 550px) {
      width: 99%;
      main {
        section {
          min-height: 200px;
          h5 {
            font-size: 30px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      nav {
        height: 500px;
        width: 93%;
        margin-right: 15px;

        article {
          height: 400px;
        }

        aside {
          height: 130px;
          width: 130px;
          top: 320px;

          div {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .home-firstLayerSmallCircle {
      top: 550px;
      left: 30px;
    }
  }

  @media screen and (max-width: 900px) {
    .home-firstLayerSmallCircle {
      top: 330px;
      left: 130px;
    }
  }

  @media screen and (max-width: 550px) {
    .home-firstLayerSmallCircle {
      top: 310px;
      left: 30px;
    }
  }
}

.home-secondLayer {
  height: fit-content;
  width: 93%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  .home-secondLayerLeft {
    height: 577px;
    width: 678px;
    display: flex;
    align-items: flex-end;
    position: relative;

    aside {
      height: 66px;
      width: 100%;
      flex-shrink: 0;
      background-color: white;
      position: absolute;
      bottom: 0;
      z-index: 3;
      clip-path: ellipse(70% 95% at 50% 95%);
    }

    .home-secondLayerLeftCircle {
      position: absolute;
      top: 0;
      left: 55px;
      height: 560px;
      width: 82.5%;
      background-color: #804bf2;
      border-radius: 100%;
    }

    img {
      width: 99%;
      height: 479px;
      margin-bottom: 10px;
      z-index: 2;
    }
  }

  .home-secondLayerRight {
    width: 645px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      font-size: 56px;
      font-weight: 600;
      line-height: 86.8px;
      font-family: "Sora", sans-serif;
    }

    main {
      min-height: 488px;
      width: 100%;
      display: flex;
      gap: 13px;

      article {
        width: 127.81px;
        height: 470px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 106px;
      }
    }

    section {
      width: 78%;
      min-height: 488px;
      display: flex;
      flex-direction: column;
      gap: 36px;

      div {
        height: 142px;
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 7px;

        h6 {
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          font-family: "Montserrat", sans-serif;
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 35px;
        }
      }

      aside {
        height: 170px;
        width: 95%;

        h6 {
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          font-family: "Montserrat", sans-serif;
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 35px;
        }
      }

      nav {
        width: 95%;
        height: 104px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        h6 {
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          font-family: "Montserrat", sans-serif;
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 35px;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;

    .home-secondLayerLeft {
      width: 40%;
    }

    .home-secondLayerRight {
      width: 60%;
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0px;
    gap: 60px;

    .home-secondLayerLeft {
      width: 80%;
    }

    .home-secondLayerRight {
      width: 80%;
    }
  }

  @media screen and (max-width: 550px) {
    gap: 0;
    .home-secondLayerLeft {
      width: 95%;
      margin-left: 10px;
      height: 500px;

      .home-secondLayerLeftCircle {
        height: 350px;
        top: 130px;
        left: 18px;
        width: 90%;
      }

      img {
        height: 300px;
      }
    }

    .home-secondLayerRight {
      h3 {
        font-size: 43px;
        padding-inline: 10px;
      }
      width: 100%;

      article {
        width: 18%;
      }

      section {
        width: 82%;
        div,
        aside,
        nav {
          width: 100%;
          h6 {
            font-size: 16px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.home-thirdLayer {
  width: 83.5%;
  height: 280px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;

  .home-thirdLayerHolder {
    height: 202px;
    width: 100%;
    border-radius: 30px;
    background-color: #804bf2;
    border: 1px solid #804bf2;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    align-items: center;
    font-family: "Sora", sans-serif;
    color: white;

    h3 {
      font-weight: 800;
      font-size: 56px;
      line-height: 60px;
      height: 120px;
      width: 159px;
      margin: auto 15px auto 85px;
    }

    div {
      width: 155px;
      height: 140px;
      display: flex;
      flex-direction: column;
      margin-right: 52px;

      h6 {
        font-weight: 800;
        font-size: 51.2px;
        line-height: 50px;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
      }
    }

    nav {
      width: 250px;
      height: 280px;
      margin-right: 35px;
    }
  }

  aside {
    position: absolute;
    width: 250px;
    height: 280px;
    top: 0;
    left: 260px;
    background-color: #f2ae30;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background 500ms ease-in-out, border 500ms ease-in-out;

    article {
      height: 136px;
      width: 155px;
      display: flex;
      flex-direction: column;

      h6 {
        font-weight: 800;
        font-size: 51.2px;
        line-height: 50px;
        font-family: "Sora", sans-serif;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 28.5px;
        line-height: 42.7px;
      }
    }
  }

  @media screen and (max-width: 1340px) {
    justify-content: space-between;
    aside {
      width: 20%;
      left: 180px;

      article {
        width: 80%;
        h6 {
          font-size: 40px;
        }
        p {
          font-size: 23px;
        }
      }
    }

    .home-thirdLayerHolder {
      h3 {
        margin-left: 30px;
        font-size: 45px;
      }

      div {
        margin-right: 30px;
        width: 20%;
        justify-content: center;

        h6 {
          font-weight: 600;
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 60px;
    justify-content: space-between;
    aside {
      width: 20%;
      height: 230px;
      left: 135px;
      top: 25px;

      article {
        width: 80%;
        h6 {
          font-size: 30px;
        }
        p {
          font-size: 19px;
        }
      }
    }

    .home-thirdLayerHolder {
      height: 170px;
      h3 {
        width: 20%;
        margin-left: 20px;
        font-size: 40px;
      }

      nav {
        width: 20%;
      }

      div {
        margin-right: 20px;
        width: 20%;
        justify-content: center;

        h6 {
          font-weight: 600;
          font-size: 30px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    justify-content: space-between;
    aside {
      width: 20%;
      height: 160px;
      left: 95px;
      top: 60px;

      article {
        width: 80%;
        justify-content: center;
        h6 {
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
        }
        p {
          font-size: 10px;
          line-height: 30px;
        }
      }
    }

    .home-thirdLayerHolder {
      height: 120px;
      h3 {
        width: 20%;
        margin-left: 15px;
        font-size: 25px;
        line-height: 40px;
        margin-top: 20px;
      }

      nav {
        width: 20%;
      }

      div {
        margin-right: 13px;
        width: 20%;
        justify-content: center;

        h6 {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
        }

        p {
          font-size: 8px;
          line-height: 20px;
        }
      }
    }
  }
}

.home-fourthLayer {
  height: 126px;
  width: 560px;
  display: flex;
  flex-direction: column;
  margin-bottom: 133px;

  h6 {
    font-weight: 800;
    font-size: 63.8px;
    line-height: 85px;
    font-family: "Sora", sans-serif;
    text-align: center;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
  }

  @media screen and (max-width: 550px) {
    width: 90%;
    margin-bottom: 40px;

    h6 {
      font-size: 35px;
      line-height: 30px;
    }

    p {
      font-size: 18.5px;
    }
  }
}

.home-fifthLayer {
  min-height: 294px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 30px;

  nav {
    width: 286px;
    height: 294px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    div {
      width: 286px;
      height: 246px;
      border-radius: 15px;
      box-shadow: 0px 4px 4px #00000040;

      img {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
        cursor: pointer;
      }
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 32px;
      line-height: 30px;
      text-align: center;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 90%;
  }
  @media screen and (max-width: 900px) {
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  @media screen and (max-width: 550px) {
    width: 80%;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

.home-sixthLayer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-family: "Sora", sans-serif;
    text-align: center;
  }

  .home-sixthLayerHolder {
    min-height: 440px;
    width: 100%;
    display: flex;
    gap: 58px;
    justify-content: center;
    align-items: center;

    main {
      height: 530px;
      width: 300px;
      background: url("../assets/public/home-satisfaction.svg");
      background-repeat: no-repeat;
    }

    nav {
      height: 384px;
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 17px;

      h4 {
        font-weight: 700;
        font-size: 45px;
        line-height: 60px;
        font-family: "Sora", sans-serif;
      }

      h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
      }

      ul {
        height: 150px;
        width: 479px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style: none;

        li {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .home-sixthLayerHolder {
      justify-content: space-between;
      gap: 0;
      nav {
        width: 450px;

        h4 {
          font-size: 35px;
          line-height: 30px;
        }

        h6 {
          font-size: 15px;
        }

        ul {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    h3 {
      font-size: 35px;
    }
    .home-sixthLayerHolder {
      align-items: center;
      flex-direction: column;
      gap: 30px;

      main {
        width: 100%;
      }
      nav {
        width: 90%;
        gap: 20px;

        h4 {
          font-size: 25px;
          line-height: 20px;
          text-align: center;
        }

        h6 {
          font-size: 14px;
          text-align: center;
        }

        ul {
          width: 100%;
          li {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.home-seventhLayerText {
  font-weight: 700;
  font-size: 56px;
  line-height: 30px;
  font-family: "Sora", sans-serif;
  display: block;

  @media screen and (max-width: 550px) {
    font-size: 32px;
    margin-top: 20px;
    display: none;
  }
}

.home-eightLayer {
  margin-top: 28px;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;

  h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #804bf2;
  }

  h6 {
    width: 576px;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 65px;
    font-family: "Sora", sans-serif;
  }

  @media screen and (max-width: 550px) {
    h6 {
      width: 100%;
      font-size: 35px;
    }
  }
}

.home-nineLayer {
  height: fit-content;
  width: 90%;
  margin-bottom: 60px;
}

.home-nineLayerHolder {
  width: 95%;
  margin: 0 auto;
  height: 300px;
  border-radius: 5px;
  background-color: #f2ae304d;
  position: relative;
  padding: 10px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 104.53px;
    line-height: 30px;
    color: #804bf2;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
  }

  nav {
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nineLayerHolder-div {
      display: flex;
      gap: 10px;
      align-items: center;
      max-height: 42px;
      width: 100%;
      max-width: 100%;

      div {
        height: 42px;
        width: 42px;
        min-height: 42px;
        min-width: 42px;
        border-radius: 100%;

        img {
          height: 100%;
          width: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }

      h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    article {
      height: 24px;
      min-width: fit-content;
      display: flex;
      align-items: center;

      section {
        width: 24px;
        height: 24px;
        background: url("../assets/public/home-star.svg");
      }
    }
  }

  @media screen and (max-width: 550px) {
    p {
      font-size: 10px;
    }

    nav {
      h6 {
        font-size: 7px;
        width: fit-content;
      }

      article {
        width: 130px;
        gap: 4px;
      }
    }
  }
}
