.learnmoremain {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.curvedpurpletop {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  position: absolute;
  fill: #804bf2;
  z-index: 0;
}

.learnmorecircle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #f2ae304d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: -200px;
  top: 70px;
  z-index: 1;

  .innercircle {
    width: 175px;
    height: 175px;
    background-color: #804bf2;
    flex-shrink: 0;
    display: flex;
    border-radius: 50%;
  }
}
.learnmorecontainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  & h1 {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;

    .threehundredplus {
      color: #f2ae30;
      font-family: Sora;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 64px;
    }
  }

  & p {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 155% */
  }
}
.learnmoreheader {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learnmoreimage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.learnimg1 {
  width: 30%;
  /* height: 100vh; */
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .learnmorepicssame {
    width: 90%;
    height: 80%;
  }
}

.learnimg2 {
  width: 30%;
  /* height: 100vh; */
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .learnmorepics {
    width: 90%;
    height: 80%;
  }
}
.learnimg3 {
  width: 30%;
  /* height: 100vh; */
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .learnmorepicssame {
    width: 90%;
    height: 80%;
  }
}

.learnmoredescription {
  width: 100%;
  height: 40vh;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  & span {
    color: #1e1e1e;
    width: 95%;
    text-align: center;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
  }
}

.learnmoresecondheader {
  display: flex;
  width: 1060px;
  height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

  & h1 {
    color: #804bf2;
    text-align: center;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px; /* 93.75% */
  }

  & span {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
  }
}

.smartpreparation {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  .smartheader {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
  }

  & h1 {
    color: #1e1e1e;
    text-align: center;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px; /* 93.75% */
  }
  .preparation {
    color: #804bf2;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
  }

  & span {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 150% */
  }
}

.carddata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  min-height: 100vh;
  justify-content: space-between;
}

.card {
  position: relative;
  display: inline-flex;
  width: 45%;
  height: 35vh;
  justify-content: center;
  align-items: center;
  background-color: #f2ae304d;
  border-radius: 30px;
  padding-right: 20px;
  padding-right: 20px;
  & span {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 22px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 38.3px;
    width: 80%;
  }
}
.card:hover {
  background-color: #804bf2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.innerpurplecircle:hover {
  background-color: #f2ae30;
  transition: all 0.3s ease-in-out;
}
.whitecircle {
  position: absolute;
  width: 103.7px;
  height: 103.7px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -60.85px;

  .checkicon {
    font-size: 40px;
    color: #fff;
  }
}
.innerpurplecircle {
  width: 75.792px;
  height: 75.792px;
  flex-shrink: 0;
  background-color: #804bf2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyfeatures {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.featurescontainer {
  width: 85%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.lexftimgdiv {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.righttext {
  width: 70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 30px;
}

.righttextheader {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  & h1 {
    color: #1e1e1e;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 65px;
  }
  .purplefeatures {
    color: #804bf2;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 65px;
  }

  & span {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
  }
}

.righttextcontent {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.firstcontent {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
}
.firsttextone {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 40px; */
}
.firsttexttwo {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 30px; */
}
.firsttexttwoholder {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.secondcontent {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
}
.thirdcontent {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
  flex-direction: column;
}
.fourthcontent {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
}

.bottomtext {
  width: 80%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & h1 {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 44px;
    width: 60%;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;

    .learnmorejamb {
      color: #804bf2;
      font-family: Montserrat;
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
    }
  }
  & span {
    text-align: left;
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
}
.learnmorefooter {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    color: #1e1e1e;
    text-align: center;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 130px;
  }
  .process {
    color: #804bf2;
    font-family: Sora;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 130px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .learnmorecontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    & h1 {
      color: #fff;
      text-align: center;
      text-align: center;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 49px; /* 153.125% */

      .threehundredplus {
        text-align: center;
        color: #f2ae30;
        font-family: Sora;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 49px;
      }
    }

    & p {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  .learnmoreheader {
    width: 86%;
    height: 48vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .learnmoreimage {
    width: 100%;
    height: 50vh !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .learnimg1 {
    width: 30%;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .learnmorepicssame {
      width: 100px;
      height: 70px;
    }
  }

  .learnimg2 {
    width: 30%;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & img {
      width: 90%;
      height: 80%;
    }
  }
  .learnimg3 {
    width: 30%;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .learnmorepics {
    width: 100px;
    height: 100px;
  }
  .learnmorepicssame {
    width: 100px;
    height: 100px;
  }

  .learnmoredescription {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  .learnmoresecondheader {
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    & h1 {
      color: #804bf2;
      text-align: center;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  .smartpreparation {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .smartheader {
      width: 100%;
      height: 20vh;
      display: flex;
      flex-direction: column;
    }

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }
    .preparation {
      color: #804bf2;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 33px;
    }
  }

  .carddata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 78%;
    min-height: 100vh;
    justify-content: space-between;
    gap: 10px;
  }

  .card {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: #f2ae304d;
    border-radius: 20px;
    padding: 0;
    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26.528px;
      width: 70%;
    }
  }
  .card:hover {
    background-color: #804bf2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .innerpurplecircle:hover {
    background-color: #f2ae30;
    transition: all 0.3s ease-in-out;
  }
  .whitecircle {
    position: absolute;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -35.85px;

    .checkicon {
      font-size: 20px;
      color: #fff;
    }
  }
  .innerpurplecircle {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-color: #804bf2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .keyfeatures {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .featurescontainer {
    width: 85%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .lexftimgdiv {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .righttext {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
  }

  .righttextheader {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 47px;
      text-transform: capitalize;
    }
    .purplefeatures {
      color: #804bf2;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 47px;
      text-transform: capitalize;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
    }
  }

  .righttextcontent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .firstcontent {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  }
  .firsttextone {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .firsttexttwo {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  .firsttexttwoholder {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .secondcontent {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 15px;
  }
  .thirdcontent {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 15px;
    flex-direction: column;
  }
  .fourthcontent {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 15px;
  }

  .bottomtext {
    width: 80%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 33px;
      font-style: normal;
      font-weight: 600;
      line-height: 41px;

      .learnmorejamb {
        color: #804bf2;
        font-family: Montserrat;
        font-size: 33px;
        font-style: normal;
        font-weight: 600;
        line-height: 41px;
      }
    }
    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .learnmorefooter {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
    }
    .process {
      color: #804bf2;

      /* H2 */
      font-family: Sora;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .learnmorecontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    & h1 {
      color: #fff;
      text-align: center;
      text-align: center;
      font-family: Sora;
      font-size: 35px;
      font-style: normal;
      font-weight: 800;
      line-height: 49px; /* 153.125% */

      .threehundredplus {
        text-align: center;
        color: #f2ae30;
        font-family: Sora;
        font-size: 35px;
        font-style: normal;
        font-weight: 800;
        line-height: 49px;
      }
    }

    & p {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }
  .learnmoreheader {
    width: 86%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .learnmoreimage {
    width: 100%;
    min-height: 40vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .learnimg1 {
    width: 30%;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & img {
      width: 100px;
      height: 100px;
    }
  }

  .learnimg2 {
    width: 30%;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & img {
      width: 90%;
      height: 80%;
    }
  }
  .learnimg3 {
    width: 30%;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .learnmorepics {
    width: 100px;
    height: 100px;
  }
  .learnmorepicssame {
    width: 100px;
    height: 100px;
  }

  .learnmoredescription {
    width: 100%;
    height: 40vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  .learnmoresecondheader {
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    & h1 {
      color: #804bf2;
      text-align: center;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  .smartpreparation {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .smartheader {
      width: 100%;
      height: 20vh;
      display: flex;
      flex-direction: column;
    }

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }
    .preparation {
      color: #804bf2;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 33px;
    }
  }

  .carddata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 78%;
    min-height: 100vh;
    justify-content: space-between;
    gap: 10px;
  }

  .card {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: #f2ae304d;
    border-radius: 20px;
    padding: 0;
    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26.528px;
      width: 70%;
    }
  }
  .card:hover {
    background-color: #804bf2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .innerpurplecircle:hover {
    background-color: #f2ae30;
    transition: all 0.3s ease-in-out;
  }
  .whitecircle {
    position: absolute;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -35.85px;

    .checkicon {
      font-size: 20px;
      color: #fff;
    }
  }
  .innerpurplecircle {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-color: #804bf2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .keyfeatures {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .featurescontainer {
    width: 85%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .lexftimgdiv {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .righttext {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
  }

  .righttextheader {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 47px;
      text-transform: capitalize;
    }
    .purplefeatures {
      color: #804bf2;
      font-family: Sora;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 47px;
      text-transform: capitalize;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
    }
  }

  .righttextcontent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .firstcontent {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  }
  .firsttextone {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .firsttexttwo {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  .firsttexttwoholder {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .secondcontent {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 15px;
  }
  .thirdcontent {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 15px;
    flex-direction: column;
  }
  .fourthcontent {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 15px;
  }

  .bottomtext {
    width: 80%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 33px;
      font-style: normal;
      font-weight: 600;
      line-height: 41px;

      .learnmorejamb {
        color: #804bf2;
        font-family: Montserrat;
        font-size: 33px;
        font-style: normal;
        font-weight: 600;
        line-height: 41px;
      }
    }
    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .learnmorefooter {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
    }
    .process {
      color: #804bf2;

      /* H2 */
      font-family: Sora;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .learnmorecontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    & h1 {
      color: #fff;
      text-align: center;
      text-align: center;
      font-family: Sora;
      font-size: 47px;
      font-style: normal;
      font-weight: 800;
      line-height: 49px; /* 153.125% */

      .threehundredplus {
        text-align: center;
        color: #f2ae30;
        font-family: Sora;
        font-size: 47px;
        font-style: normal;
        font-weight: 800;
        line-height: 49px;
      }
    }

    & p {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }
  .learnmoreheader {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .learnmoreimage {
    width: 90%;
    height: 50vh;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 20px;

    .learnimg1 {
      width: 30%;
      height: 100%;
      flex-shrink: 0;
      display: flex;
      align-items: flex-end;

      & img {
        width: 100%;
        height: 90%;
      }
    }

    .learnimg2 {
      width: 30%;
      height: 100%;
      flex-shrink: 0;
      display: flex;
      & img {
        width: 100%;
        height: 90%;
      }
    }
    .learnimg3 {
      width: 30%;
      height: 100%;
      flex-shrink: 0;
      display: flex;
      align-items: flex-end;
      & img {
        width: 100%;
        height: 90%;
      }
    }
  }

  .learnmoredescription {
    width: 100%;
    height: 40vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .learnmoresecondheader {
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & h1 {
      color: #804bf2;
      text-align: center;
      font-family: Sora;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: 46px;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  .smartpreparation {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .smartheader {
      width: 100%;
      height: 20vh;
      display: flex;
      flex-direction: column;
    }

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }
    .preparation {
      color: #804bf2;
      font-family: Sora;
      font-size: 46spx;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 33px;
    }
  }

  .carddata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 78%;
    min-height: 100vh;
    justify-content: space-between;
    gap: 10px;
  }

  .card {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: #f2ae304d;
    border-radius: 20px;
    padding: 0;
    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 26.528px;
      width: 70%;
    }
  }
  .card:hover {
    background-color: #804bf2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .innerpurplecircle:hover {
    background-color: #f2ae30;
    transition: all 0.3s ease-in-out;
  }
  .whitecircle {
    position: absolute;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -35.85px;

    .checkicon {
      font-size: 35px;
      color: #fff;
    }
  }
  .innerpurplecircle {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    background-color: #804bf2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .keyfeatures {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .featurescontainer {
    width: 85%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .lexftimgdiv {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .righttext {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
  }

  .righttextheader {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 45px;
      font-style: normal;
      font-weight: 800;
      line-height: 47px;
      text-transform: capitalize;
    }
    .purplefeatures {
      color: #804bf2;
      font-family: Sora;
      font-size: 45px;
      font-style: normal;
      font-weight: 800;
      line-height: 47px;
      text-transform: capitalize;
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
    }
  }

  .righttextcontent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .firstcontent {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  .firsttextone {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  .firsttexttwo {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  .firsttexttwoholder {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .secondcontent {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 10px;
  }
  .thirdcontent {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 10px;
    flex-direction: column;
  }
  .fourthcontent {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 10px;
  }

  .bottomtext {
    width: 90%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 41px;
      font-style: normal;
      font-weight: 600;
      line-height: 41px;

      .learnmorejamb {
        color: #804bf2;
        font-family: Montserrat;
        font-size: 41px;
        font-style: normal;
        font-weight: 600;
        line-height: 41px;
      }
    }
    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .learnmorefooter {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
    }
    .process {
      color: #804bf2;

      /* H2 */
      font-family: Sora;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
}
.learnmoreheader {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learnmoreimage {
  width: 90%;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  object-fit: contain;

  .learnimg1 {
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    & img {
      width: 100%;
      height: 80%;
    }
  }

  .learnimg2 {
    width: 30%;
    height: 80%;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;

    & img {
      width: 100%;
      height: 100%;
    }
  }
  .learnimg3 {
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;

    & img {
      width: 100%;
      height: 80%;
    }
  }
}
