.learnmoremain {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.curvedpurpletop {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  position: absolute;
  fill: #804bf2;
  z-index: 0;
}

.learnmorecircle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #f2ae304d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: -200px;
  top: 70px;
  z-index: 1;

  .innercircle {
    width: 175px;
    height: 175px;
    background-color: #804bf2;
    flex-shrink: 0;
    display: flex;
    border-radius: 50%;
  }
}
.learnmorecontainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* background-color: aqua; */
}
.learnmoreheader {
  width: 90%;
  height: max-content;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1 {
    color: #fff;
    text-align: center;
    font-family: "Sora";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
  }

  & p {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 155% */
    text-align: center;
  }
}
.learnmoreimage {
  width: 100%;
  display: flex;
  margin-top: 40px;
  gap: 20px;
  justify-content: center;
}

.learnimg1 {
  width: 360px;
  max-width: 30%;
  height: fit-content;
  margin-top: 53px;

  img {
    height: fit-content;
    width: 100%;
    object-fit: contain;
  }
}

.learnimg2 {
  width: 360px;
  max-width: 30%;
  height: fit-content;
  margin: 0px;

  img {
    height: fit-content;
    width: 100%;
    object-fit: contain;
  }
}
.learnimg3 {
  width: 360px;
  max-width: 30%;
  height: fit-content;
  margin-top: 53px;

  img {
    height: fit-content;
    width: 100%;
    object-fit: contain;
  }
}

.learnmoredescription {
  width: 100%;
  margin-top: 46px;

  & p {
    color: #1e1e1e;
    width: 80%;
    text-align: center;
    font-family: "Montserrat";
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin: 0 auto;
  }
}

.learnmoresecondheader {
  display: flex;
  width: 73.6%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 58px;

  & h1 {
    color: #804bf2;
    text-align: center;
    font-family: "Sora";
    font-size: 48px;
    font-weight: 800;
    line-height: 45px; /* 93.75% */
  }

  & p {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
  }
}

.smartpreparation {
  margin-top: 58px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .smartheader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px; /* 93.75% */
    }

    & p {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px; /* 150% */
    }
  }
}

.carddata {
  display: flex;
  flex-wrap: wrap;
  width: 81%;
  gap: 28px;
  justify-content: space-between;
}

.card {
  position: relative;
  display: inline-flex;
  width: 506px;
  max-width: 45%;
  height: 212px;
  justify-content: center;
  align-items: center;
  background-color: #f2ae304d;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;

  & p {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 38.3px;
    width: 75%;
    margin: 0 auto;
    transition: color 0.3s ease-in-out;
  }
}
.card:hover p {
  color: #fff;
}
.card:hover {
  background-color: #804bf2;

  .innerpurplecircle {
    background-color: #f2ae30;
    transition: all 0.3s ease-in-out;
  }
}
.whitecircle {
  position: absolute;
  width: 103.7px;
  height: 103.7px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -60.85px;

  .checkicon {
    font-size: 40px;
    color: #fff;
  }
}
.innerpurplecircle {
  width: 75.792px;
  height: 75.792px;
  flex-shrink: 0;
  background-color: #804bf2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyfeatures {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}
.featurescontainer {
  width: 81%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.lexftimgdiv {
  width: 33%;
  height: 791px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.righttext {
  width: 63.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.righttextheader {
  width: 100%;
  display: flex;
  flex-direction: column;

  & h1 {
    color: #1e1e1e;
    font-family: Sora;
    font-size: 48px;
    font-weight: 800;
    line-height: 65px;
  }

  & p {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
  }
}

.righttextcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.firstcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
}
.firsttextone {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 40px; */
}
.firsttexttwo {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 30px; */
}
.firsttexttwoholder {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.secondcontent {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
}
.thirdcontent {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
  flex-direction: column;
}
.fourthcontent {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
}

.bottomtext {
  margin-top: 60px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & h1 {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 44px;
    width: 60%;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
  }
  & p {
    text-align: left;
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
}
.learnmorefooter {
  margin-top: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    color: #1e1e1e;
    text-align: center;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 130px;
  }
}

@media screen and (max-width: 1024px) {
  .learnmoredescription {
    margin-top: 32px;

    p {
      width: 94%;
    }
  }

  .learnmoresecondheader {
    margin-top: 36px;
    width: 87%;
  }

  .carddata {
    width: 87%;
  }

  .featurescontainer {
    width: 90%;
  }
  .righttext {
    gap: 24px;
  }

  .righttextheader {
    & h1 {
      font-size: 32px;
    }
  }

  .righttextcontent {
    gap: 28px;
  }

  .learnmorefooter {
    margin-top: 60px;
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 100%;
    max-width: 100%;
  }

  .lexftimgdiv {
    display: none;
  }

  .righttext {
    width: 100%;
  }

  .bottomtext {
    width: 90%;

    h1 {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 550px) {
  .learnmoreheader {
    & h1 {
      font-size: 32px;
      line-height: 48px;
    }
  }
  .learnmoreimage {
    margin-top: 80px;
  }
  .learnmoredescription {
    margin-top: 20px;
    & p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .learnmoresecondheader {
    margin-top: 20px;
    & h1 {
      font-size: 32px;
      line-height: 48px;
    }
    & p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .smartpreparation {
    margin-top: 20px;
    & .smartheader {
      & h1 {
        font-size: 32px;
        line-height: 40px;
      }
      & p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  .card {
    width: 90%;
    margin: 0 auto;
    height: max-content;
    padding: 28px 0px;

    & h1 {
      font-size: 20px;
    }
    & p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .whitecircle {
    width: 60px;
    height: 60px;
    left: -30px;
  }

  .innerpurplecircle {
    height: 45px;
    width: 45px;
  }

  .keyfeatures {
    margin-top: 0px;
  }

  .righttext {
    gap: 12px;
  }

  .righttextheader {
    & h1 {
      font-size: 24px;
      line-height: 30px;
    }
    & p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .firsttextone {
    font-size: 16px;
  }

  .firsttexttwoholder {
    gap: 8px;
  }

  .firsttexttwo {
    font-size: 14px;
  }

  .bottomtext {
    margin-top: 12px;
    flex-direction: column;
    padding: 12px 0px;

    & h1 {
      font-size: 24px;
      line-height: 30px;
    }
    & p {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
  }

  .learnmorefooter {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  .learnmoreimage {
    margin-top: 40px;
  }
}
