.home-tenthLayer {
  height: fit-content;
  width: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
  margin-bottom: 100px;

  h5 {
    width: 1011px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 64px;
    font-family: "Sora", sans-serif;
  }

  nav {
    width: 982px;
    min-height: 146px;
    display: flex;
    justify-content: space-between;

    div {
      height: 146px;
      width: 146px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    h5 {
      width: 100%;
    }
  }

  @media screen and (max-width: 900px) {
    h5 {
      width: 90%;
      font-size: 30px;
    }

    nav {
      width: 90%;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      div {
        height: 170px;
        width: 200px;
      }
    }
  }

  @media screen and (max-width: 550px) {
    h5 {
      font-size: 15px;
      width: 95%;
    }
  }
}
